<ul>
  <% @articles.each do |article| %>
  <li>
    <%= article.title %>
    <%= article.user_id %>
    <%= link_to "show", article %>
    <% if policy(article).edit? %>
    <%= link_to 'Edit', edit_article_path(article) %>
    <% end %>
    <% if policy(article).destroy? %>
    <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </li>
  <% end %>
</ul>


<% if policy(Article).create? %>
<%= link_to "New Article", new_article_path %>
<% end %>


